* {
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.editor {
  border: 1px solid black;
  width: clamp(320px, 100%, 600px);
  height: clamp(320px, 400px, 600px);
  padding: 10px;
  margin: 0 auto;
}
